.header {
    background-color: #0072C6;
    color: #FFFFFF;
    text-align: center;

}

.nav {
    background-color: #0072C6;

}

.nav a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}

.nav a:hover {
    text-decoration: underline;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    color: #000000;
}

.content {
    padding: 20px;
}

.highlight {
    border: 2px solid #68B646;
    padding: 10px;
    margin-bottom: 10px;
}

.content h2 {
    color: #68B646;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    color: #68B646;
}

.button {
    background-color: #68B646;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 5px;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background-color: #5A9A38;
}

.icon {
    color: #0072C6;
    font-size: 24px;
    margin: 10px;
    cursor: pointer;
}

.icon:hover {
    color: #005A99;
}
